.header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem
}

.header-links {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.header-content {
    display: flex;
    justify-content:center;
}

.header-content-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 250px;
    margin: 0 180px;
    /*find better way to set margin */
}

.image-plcehldr {
    background-color: gray;
    margin: 0 180px;
}